data/
bkup/
figures/
rscript/
security/
table/
testingdoc/
_book/
rsconnect/
shinyapps/
source/
temp/
testapp/
output/
pdfs/
etc_script/
*.R
*.Rproj
*.RData
*.Rhistory
*.Rmd
/animation
/images
/.Rproj.user
/rmdbkup
*.sh
*.bib
*.tex
